/* @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap'); */

.background {
    background-image: url("https://images.unsplash.com/photo-1609167830220-7164aa360951?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
    height: 100%; 
    position:fixed  
}

.homeTitle {
    color: white;
    flex-direction: column;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 80px;
    text-align: center;    
    
    /* 
    color: rgb(247, 35, 35);
    font-family: 'Monoton', cursive;
    letter-spacing: 8px;
    */
}

.button {
    background-color: transparent;
    flex-direction: column;
    color: #fff;
    font-size: 25px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    border-radius: 9999px;
    border: #fff solid 3px;
    padding: 25px;
    cursor: pointer;
    transition-duration: 0.4s;
    margin-top: 1px;
    margin-top: 40px;
    margin-left: 45%;
}

.button:hover {
    background-color: #fff;
    color: #220F00;
    transition-delay: 0.2s;
    transition: 0.8s;
}

.recipeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}