.mainContainer {
    width: 18rem; 
    height: 38rem;
    border-width: 0.2rem;
    border-style: outset;
    background-size:cover;
    border-radius: 10px;
    border-color: rgba(48, 0, 78, 0.87);
    transition: transform .5s;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(49, 206, 180, 0.87);
    text-decoration: none;
}

.mainContainer:hover{
    transform: scale(1.1);
}

.title {
    font-size: 24px;
    align-self: center;
    text-align: center;
    text-decoration: none;
    padding-right: 15px;
    padding-left: 15px;
    color: rgba(48, 0, 78, 0.87)

}

.diets {
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    align-self: center;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    color: rgba(48, 0, 78, 0.87)
}

.image {
    width: 100%;
    height: 200;
    border-radius: 10px;
}